{% extends 'base.html' %}
{% block content %}
<article class="post">
    <div class="d-flex">
        <div class="flex-shrink-0">
            <img src="{{ course.avatar(128) }}">
        </div>
        <div class="flex-grow-1 ms-3">
            <div>
                <h1>{{ course['title'] }}</h1>
                <div class="about">by <a href="{{ url_for('user.userprofile',username=course.lecturer.username)}}">{{ course.lecturer.username }}</a> 
                on {{ course['created'].strftime('%Y-%m-%d') }}</div>
            </div>
            <div>
                {% if current_user.is_authenticated %}
                    {% if current_user.id == course['lecturer_id'] %}
                        <a class="btn btn-info btn-sm" href="{{ url_for('course.update', id=course['id']) }}">Edit</a>
                    {% elif not current_user.is_learning(course) %}
                        <form action="{{ url_for('user.learn', courseid=course['id']) }}" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value='Learn', class_='btn btn-primary btn-sm') }}
                        </form>
                    {% else %}
                        <form action="{{ url_for('user.unfollow', courseid=course['id']) }}" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value='Unfollow', class_='btn btn-warning btn-sm') }}
                        </form>
                    {% endif %}
                {% endif %}
            </div>            
        </div>
    </div> 
    <hr>   
    <p class="body">{{ course['outline'] }}</p>
    <h3>Modules</h3>
    <div>
        {% for module in course.modules %}
            <div>{{ module.module_name }}</div>
        {% endfor%}
    </div>
</article>
{% endblock %}
