{% extends 'base.html' %}
{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='editcontent.js') }}"></script>
{% endblock %}
{% block content %}
<article class="post">
    <div class="d-flex">
        <div class="flex-shrink-0">
            {% if course.profileimg %}
                <img src="{{ url_for('get_file',filename=course.profileimg) }}" width="128" height="128" alt="...">
            {% else %}
                <img src="{{ course.avatar(128) }}" alt="...">
            {% endif %}
        </div>
        <div class="flex-grow-1 ms-3">
            <div class="mb-3">
                <h1>{{ course['title'] }}</h1>
                <div class="about">by <a href="{{ url_for('user.userprofile',username=course.lecturer.username)}}">{{ course.lecturer.username }}</a> 
                on {{ course['created'].strftime('%Y-%m-%d') }}</div>
            </div>
            <div>
                {% if current_user.is_authenticated %}
                    {% if current_user.id == course['lecturer_id'] %}
                        <form action="{{ url_for('course.showhide', id=course.id) }}" method="post"> 
                            <a class="btn btn-info" href="{{ url_for('course.update', id=course['id']) }}">Edit</a>
                            {% if course.hidden %}
                                <button class="btn btn-secondary" type="submit">Show</button>
                            {% else %}
                                <button class="btn btn-secondary" type="submit">Hide</button>
                            {% endif %}
                        </form>     
                    {% elif not current_user.is_learning(course) %}
                        <form action="{{ url_for('user.learn', courseid=course['id']) }}" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value='Learn', class_='btn btn-primary btn-sm') }}
                        </form>
                    {% else %}
                        <form action="{{ url_for('user.unfollow', courseid=course['id']) }}" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value='Unfollow', class_='btn btn-warning btn-sm') }}
                        </form>
                    {% endif %}
                {% endif %}
            </div>            
        </div>
    </div> 
    <hr>   
    <p class="body">{{ course['outline'] }}</p>
    <h3>Modules</h3>
    <div>
        {% for module in course.modules %}
            <div>
                <h4>{{ module.module_name }}</h4> 
                {% if current_user.id == course.lecturer_id %}
                    <a href="{{ url_for('search.get_recommendations', id=module.id)}}"> See Recommendations</a>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newContentModal{{module.id}}">
                        New
                    </button>
                    <div class="modal fade" id="newContentModal{{module.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form id="newContentForm" action="{{ url_for('content.create', moduleid=module.id) }}" method="post" enctype="multipart/form-data">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="newContentModalLabel">Add new content for {{ module.module_name }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{ content_form.hidden_tag() }}
                                        <div>
                                            {{ content_form.title.label(class_='form-label') }}<br>
                                            {{ content_form.title(class_='form-control') }}<br>
                                            {% for error in content_form.title.errors %}
                                            <span style="color: red;">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        <div>
                                            {{ content_form.description.label(class_='form-label') }}<br>
                                            {{ content_form.description(class_='form-control') }}<br>
                                            {% for error in content_form.description.errors %}
                                            <span style="color: red;">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        <div>
                                            {{ content_form.url.label(class_='form-label') }}<br>
                                            {{ content_form.url(class_='form-control') }}<br>
                                            {% for error in content_form.url.errors %}
                                            <span style="color: red;">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        <div>
                                            {{ content_form.file.label(class_='form-label') }}
                                            {{ content_form.file(class_='form-control') }}<br>
                                            {% for error in content_form.file.errors %}
                                            <span style="color: red;">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div>
                {% if module.content %}
                    {% for content in module.content %}
                        {% if not content.hidden %}
                            <div>
                                <h5 style="color:black;">{{ content.title }}</h5>
                                {% if current_user.id == course.lecturer_id %}
                                    <button type="button" class="btn btn-primary" onclick="getFormData( {{ content.id }} );"
                                    data-bs-toggle="modal" data-bs-target="#editContentModal{{content.id}}">
                                        Edit Content
                                    </button>
                                    <div class="modal fade" id="editContentModal{{content.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="newContentModalLabel">Edit content for {{ content.title }}</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="editContentForm{{content.id}}" action="{{ url_for('content.update', contentid=content.id) }}" method="post" enctype="multipart/form-data">
                                                            {{ content_form.hidden_tag() }}
                                                            <div>
                                                                {{ content_form.title.label(class_='form-label') }}<br>
                                                                {{ content_form.title(class_='form-control') }}<br>
                                                                {% for error in content_form.title.errors %}
                                                                <span style="color: red;">{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                            <div>
                                                                {{ content_form.description.label(class_='form-label') }}<br>
                                                                {{ content_form.description(class_='form-control') }}<br>
                                                                {% for error in content_form.description.errors %}
                                                                <span style="color: red;">{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                            <div>
                                                                {{ content_form.url.label(class_='form-label') }}<br>
                                                                {{ content_form.url(class_='form-control') }}<br>
                                                                {% for error in content_form.url.errors %}
                                                                <span style="color: red;">{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                            <div>
                                                                {{ content_form.file.label(class_='form-label') }}
                                                                {{ content_form.file(class_='form-control') }}<br>
                                                                {% for error in content_form.file.errors %}
                                                                <span style="color: red;">{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                                        </form>
                                                        <form action="{{ url_for('content.delete_content', id=content.id) }}" method="post"> 
                                                            <input class="btn btn-danger" type="submit" value="Delete Content" onclick="return confirm('Are you sure?');">
                                                        </form>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if content.description %}
                                    <p>{{ content.description }}</p>
                                {% endif %}
                                {% if content.url %}
                                <a href="{{ content.url }}">{{ content.url }}</a>
                                {% endif %}
                                {% if content.file_path %}
                                    <a id="filename{{ content.id }}" href="{{ url_for('get_file',filename=content.file_path) }}" download>{{ content.file_path.split('/').pop() }}</a> 
                                    {% if content.file_path.split('.').pop() == 'pdf' %}          
                                        <i id="fileicon{{ content.id }}" class="bi bi-file-earmark-pdf-fill"></i>
                                    {% else %}
                                        <i id="fileicon{{ content.id }}" class="bi bi-file-earmark"></i>
                                    {% endif %}
                                    {% if current_user.id == course.lecturer_id %}
                                        <button class="btn btn-outline-secondary" id="filedelete{{ content.id }}" onclick="deleteFile({{ content.id }})"><i class="bi bi-trash" ></i></button>
                                    {% endif %}
                                {% endif%}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor%}
    </div>
</article>
{% endblock %}
