{% import "course/module_macro.html" as macros %}
{% extends 'base.html' %}
{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='modulesform.js') }}"></script>
{% endblock %}

{% block content %}
<div class="form-signin" style="max-width: 1000px;">
  <h1>New Course</h1>
  <form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      <label for="profile" class="form-label">Course Profile Image</label>
      {{ form.profile(class_='form-control') }}
      {% for error in form.profile.errors %}
      <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.title.label(class_='form-label') }}<br>
        {{ form.title(class_='form-control') }}<br>
        {% for error in form.title.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.outline.label(class_='form-label') }}<br>
        {{ form.outline(class_='form-control') }}<br>
        {% for error in form.outline.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <h3>Add module headings</h3>
      {# Show all subforms #}
      <div id="subforms-container">
          {% for subform in form.modules %}
              {{ macros.render_module_form(subform, loop.index0) }}
          {% endfor %}
      </div>
      {% for error in form.modules.errors %}
          <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
      {# Form template #}
      {{ macros.render_module_form(_template, '_') }}
      <div class="mb-3">
        <button id="add" type="button" class="btn btn-secondary"><i class="bi bi-plus-circle"></i> Add Module</button>
      </div>
    <div>{{ form.submit(class_='btn btn-primary') }}</div>
  </form>
{% endblock %}