{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Courses{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-5 g-4">
        {% for course in courses %}
            {% if not course.hidden %}
                {% include '_card.html' %}
            {% endif %}
        {% endfor %}
    </div>  
    {% if prev_url %}
        <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}
