{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Courses{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-5 g-4 mb-3">
        {% for course in courses %}
            {% if not course.hidden %}
                {% include '_card.html' %}
            {% endif %}
        {% endfor %}
    </div>  
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if prev_url %}
            <li class="page-item"><a class="page-link" href="{{ prev_url }}">Previous</a></li>
            {% endif %}
            {% if next_url %}
            <li class="page-item"><a class="page-link" href="{{ next_url }}">Next</a></li>
            {% endif %} 
        </ul>
    </nav>
{% endblock %}
