{% extends "base.html" %}

{% block content %}
    <h1>Search Results</h1>
    <div class="row row-cols-1 row-cols-md-5 g-4 mb-3">
        {% for course in courses %}
            {% include '_card.html' %}
        {% endfor %}
    </div> 
    <nav aria-label="Search navigation">
        <ul class="pagination">
            {% if prev_url %}
                <li class="page-item"><a class="page-link" href="{{ prev_url }}">Previous</a></li>
            {% endif %}
            {% if next_url %}
                <li class="page-item"><a class="page-link" href="{{ next_url }}">Next</a></li>
            {% endif %} 
        </ul>
    </nav>
{% endblock %}