{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit "{{ course['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
      {{ form.title.label }}<br>
      {{ form.title(size=32) }}<br>
      {% for error in form.title.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
  </p>
  <p>
      {{ form.outline.label }}<br>
      {{ form.outline(size=32, rows=4) }}<br>
      {% for error in form.outline.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>
<hr>
{# <form action="{{ url_for('course.delete', id=course['id']) }}" method="post"> #}
    <!--<input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">-->
{# </form> #}
{% endblock %}