{% extends "base.html" %}
{% block content %}
<div class="d-flex">
    <div class="flex-shrink-0">
        {% if user.imgsrc %}
            <img src="{{ user.imgsrc }}" width="128" height="128">
        {% else %}
            <img src="{{ user.avatar(128) }}">
        {% endif %}
    </div>
    <div class="flex-grow-1 ms-3">
        <h1>User: {{ user.username }}</h1> 
    </div>
</div>
<hr>
<div class="row row-cols-1 row-cols-md-5 g-4">
    {% for course in user.get_own_courses() %}
            {% include '_card.html' %}
    {% endfor %}
</div>  
{% endblock %}