{% extends "base.html" %}
{% block content %}
<table>
    <tr valign="top">
        <td><img src="{{ user.avatar(128) }}"></td>
        <td>
        <h1>User: {{ user.username }}</h1><br/>
        <h3>Email: {{ user.email }}</h3>
        </td>
    </tr>
</table>
{% if user == current_user %}
<p><a href="{{ url_for('user.edit_profile') }}">Edit your profile</a></p>
{% endif %}
<hr>
<h1>Manage own courses</h1>
    {% if current_user.is_authenticated %}
        <a class="action" href="{{ url_for('course.create') }}">New</a>
    {% endif %}
<div class="row row-cols-1 row-cols-md-5 g-4">
    {% for course in user.get_own_courses() %}
            {% include '_card.html' %}
    {% endfor %}
</div>
<hr>
<h1>Learning courses</h1>
<div class="row row-cols-1 row-cols-md-5 g-4">
    {% for course in courses %}
        {% if current_user.is_learning(course) %}
            {% include '_card.html' %}           
        {% endif %}
    {% endfor %}
</div>
{% endblock %}