<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} - TeachAid</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script async src="https://cse.google.com/cse.js?cx=54b0e5c669679dac6"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" 
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <h1 class="navbar-brand">TeachAid</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <ul class="navbar-nav ms-auto">
            {% if current_user.is_authenticated %}
                  <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('index')}}">Home</a></li>
                  <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{url_for('user.user', username=current_user.username)}}">{{ current_user.username }}</a>
                  <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
                  <li class="nav-item"><a class="nav-link" href="{{ url_for('search.search_web') }}">Search Web</a>
            {% else %}
                  <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                  <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
            {% endif %}
          </ul>
          {# {% if g.search_form %} #}
                <!-- <form class="d-flex" method="get"
                        action="{{ url_for('course.search') }}">
                        {{ g.search_form.q(size=20, class='form-control me-2',
                            placeholder=g.search_form.q.label.text) }}
                        <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
          {# {% endif %} #}
        </div>
      </div>
    </nav>
    <section class="container">
      <!-- <header>
        {% block header %}{% endblock %}
      </header> -->
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>


