{% extends 'base.html' %}
{% block content %}
    <h1>{{ module['module_name'] }}</h1>
    <h2>Results from Google</h2>
    {% for reco in google_recommendations %}
        {% if 'imageUrl' in reco %}
            <div class="d-flex">
                <div class="flex-shrink-0">
                    <img src="{{ reco['imageUrl']}}" width="120" height="90">
                </div>
                <div class="flex-grow-1 ms-3">
                    <a href="{{ reco['url'] }}">{{ reco['title'] }}</a>
                    <p>{{ reco['description' ]}}</p>
                </div>
            </div>         
        {% else %}
            <div>
                <a href="{{ reco['url'] }}">{{ reco['title'] }}</a>
                <p>{{ reco['description' ]}}</p>
            </div>            
        {% endif %}
        <hr>
    {% endfor %}
    <h2>Results from Youtube</h2>
    {% for recommendation in youtube_recommendations %}
        <div class="d-flex">
            <div class="flex-shrink-0">
                <img src="{{ recommendation['imageURL']['url'] }}" width="{{ recommendation['imageURL']['width'] }}" height="{{ recommendation['imageURL']['height'] }}">
            </div>
            <div class="flex-grow-1 ms-3">
                <a href="{{ recommendation['url'] }}">{{ recommendation['title'] }}</a>
                <p>{{ recommendation['description' ]}}</p>
                <a href="{{ recommendation['channelURL'] }}">{{ recommendation ['channelTitle'] }}</a>
            </div>
        </div>
        <hr>
    {% endfor %}

{% endblock %}